
<section class="search" ng-app="platformSearch">
  <section class="title">
    Platformation
  </section>
  <section ng-controller="trainPlatformSearchController as trainCtrl">
    <form class="search_form" ng-submit="trainCtrl.doSearch(trainCtrl.depart, trainCtrl.finish)">
      <input id="starting_station" type="text" ng-model="trainCtrl.depart" placeholder="Where are you now?" autofocus></input>
      <br>
      <input id="finish_station" type="text" ng-model="trainCtrl.finish" placeholder="Where are you going?"></input>
      <br>
      <button class="btn btn-success btn-xs" type="submit" ng-click="trainCtrl.showMobile=false">Search</button>
    </form>

    <section>

      <form ng-show="trainCtrl.showMobile" method="post" action="/notifications">
        <input type="number" name="mobile" placeholder="Mobile phone number"></input>
        <input type="hidden" name="time" value="{{trainCtrl.trainTime}}"></input>
        <input type="hidden" name="station" value="{{trainCtrl.depart}}"></input>
        <input type="hidden" name="destination" value="{{trainCtrl.finish}}"></input>

        <button class="btn btn-success btn-xs" type="submit">Go!</button>
      </form>

      <p>Showing trains from {{trainCtrl.depart}}</p>
        <section class="train_list"
          <ul class="list">
            <li ng-repeat="train in trainCtrl.trainsResult">
              <span ng-click="trainCtrl.setsSelectedTrain(train.std)">Time: {{train.std}}, Destination: {{train.destination[0].locationName}} Platform: {{train.platform || "TBA"}}</span>
            </li>
          </ul>
        </section>
    </section>

  </section>
</section>
