<section class="search" ng-app="platformSearch">
  <section ng-controller="trainPlatformSearchController as trainCtrl">

      <angucomplete id="entryStation" placeholder="Departing station"
        pause="100" selectedobject="entryStation" localdata=trainCtrl.stations
        searchfields="name" titlefield="name" minlength="3"
        inputclass="form-control form-control-small" matchclass="highlight">
      </angucomplete>
      <br>
      <angucomplete id="exitStation" placeholder="Destination"
        pause="100" selectedobject="exitStation" localdata="trainCtrl.stations"
        searchfields="name" titlefield="name" minlength="3"
        inputclass="form-control form-control-small" matchclass="highlight">
      </angucomplete>
      <br>

      <button ng-click="trainCtrl.setStations(entryStation.originalObject.code, exitStation.originalObject.code)">Go!</button>

    <section>

      <form ng-show="trainCtrl.showMobile" method="post" action="/notifications">
        <input type="number" name="mobile" placeholder="Mobile phone number"></input>
        <input type="hidden" name="time" value="{{trainCtrl.trainTime}}"></input>
        <input type="hidden" name="station" value="{{trainCtrl.depart}}"></input>
        <input type="hidden" name="destination" value="{{trainCtrl.finish}}"></input>
        <button type="submit">Go!</button>
      </form>

      <p ng-show="entryStation.originalObject.name">Showing trains from {{entryStation.originalObject.name}}</p>
        <section class="train_list">
          <ul class="list">
            <li ng-repeat="train in trainCtrl.trainsResult">
              <span ng-click="trainCtrl.setsSelectedTrain(train.std)">Time: {{train.std}}, Destination: {{train.destination[0].locationName}} Platform: {{train.platform || "TBA"}}</span>
            </li>
          </ul>
        </section>
    </section>

  <br />
  <br />


  </section>
</section>
