// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: url(https://picjumbo.imgix.net/HNCK3273.jpg?q=40&w=1650&sharp=30);
  font-family: Helvetica;
  height: 100%;
}

.title {
  padding-top: 15px;
  color: #4278a1;
  font-family: 'Droid serif', serif;
  font-size: 80px; font-weight: 400;
  font-style: italic; line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}

.search {
  text-align: center;
}

.search_form > input[type="text"]{
  width: 500px;
  height: 2em;
  text-align: center;
  font-size: 2em;
  font-family: Helvetica;
  margin-top: 50px;

}

.search_form > button{
  width: 250px;
  height: 2em;
  text-align: center;
  font-size: 2em;
  font-family: Helvetica;
  margin-top: 50px;
  border-radius: 10px;

}

.confirmation {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: justify;
  width: 100%;
  margin: 0;
  padding-left: 250px;
}

.train_list {
  list-style-type: none;

}
