<!DOCTYPE html>
<html>
<head>
  <title>PlatformFormation</title>
  <link rel="stylesheet" href="vendor/assets/bower_components/bootstrap/dist/css/bootstrap.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="footer">
<div style="border-top: solid 1px #eee;">
<div class="container">
  <div class="row">

    <div class="col-sm-12 text-center">

      <p style="font-size: 13px" class="text-muted">Makerthon | © Copyright 2016, All Rights Reserved
        <br>| Platformation created by Chris Wynne, Will Bautista, Kirk Smith and Tony Young while at <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> | <a href="https://github.com/TY231618" target="_blank">GitHub</a> | 
          <br>
        <i class="fa fa-twitter-square fa-2x text-primary"></i>
        <i class="fa fa-facebook-square fa-2x text-primary"></i>

         </p>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
